{% extends "djblog/layout/base.html" %}
{% load static %}

{% block title %} Post List {% endblock %}

{% block body %}
	{% for post in posts %}
		<div class="post">
			<div class="date">
				<p>Published: {{ post.pub_date }}</p>
			</div>
			<h1><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
			<p>{{ post.content|linebreaksbr }}</p>
		</div>
	{% endfor %}
	<div class="pagination">
		<span class="step-links">
			{% if posts.has_previous %}
				<a href="?page={{ posts.previous_page_number }}">Previous</a>
			{% endif %}

			<span class="current">
				Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
			</span>

			{% if posts.has_next %}
				<a href="?page={{ posts.next_page_number }}">Next</a>
			{% endif %}
		</span>
	</div>
{% endblock %}